<h2>Edit entry</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_entry_path(@conn, :update, @conn.assigns.locale, @entry) %>

<%= link "Back", to: admin_entry_path(@conn, :index, @conn.assigns.locale) %>
