<div class="row marketing">
  <div class="col-lg-6">
    <h4>Admin</h4>
    <ul>
      <li>
        <%= link "Admin", to: admin_page_path(@conn, :index, @conn.assigns.locale) %>
      </li>
    </ul>
    <h4>Public</h4>
    <ul>
      <li>
        <%= link "User login", to: session_path(@conn, :new, "identity") %>
      </li>
    </ul>
  </div>
</div>
