<h2>Edit admin user</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_admin_user_path(@conn, :update, @admin_user) %>

<%= link "Back", to: admin_admin_user_path(@conn, :index) %>
